Source: tach
Section: python
Priority: extra
Maintainer: Major Hayden <major.hayden@rackspace.com>
Build-Depends: debhelper (>= 7.0.50)
Build-Depends-Indep: python-support, python-setuptools
Standards-Version: 3.9.1

Package: tach
Architecture: all
Section: python
Depends: ${python:Depends}, ${misc:Depends}
XB-Python-Version: ${python:Versions}
Provides: ${python:Provides}
Description: Statistics collector.